@tailwind base;
@tailwind components;
.clip-circle {
    
    clip-path: ellipse(101% 66% at 47% 27%);

}
.bg-scale {
    transform: scale(1.08);
}
.filter-50 {
    filter: brightness(50%)
}
.clip-bottom {
    clip-path: ellipse(85% 50% at 51% 100%);
}
@tailwind utilities;